.container {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

.addButtonContainer {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 1000;
}